<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a (click)="selectItem(i)" style="cursor: pointer;" class="list-group-item" *ngFor="let ing of ingredients;let i = index" #item>
                {{ing.name}}({{ing.amount}})
            
            </a>
            
        </ul>
    </div>
</div>

<!-- <app-shopping-list-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-list-edit> -->
